@font-face {
  font-family: 'ShopeeDisplay';
  src: url('./assets/fonts/ShopeeDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Custom Fonts */
